img {
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3%;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.main-news-img {
    cursor: pointer;
}

.main-news {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h1 {
    margin-top: 1.25rem;
    font-size: var(--fontLarge);
    cursor: pointer;
}

.main-news-text {
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.font {
    color: var(--lightGray);
    font-size: var(--fontSmall);
}

.underbar {
    width: 200px;
    height: 5px;
    border: none;
}

.news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .1rem;
}

.news-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem;
}

.news-img {
    cursor: pointer;
}

.secondary-news-title {
    margin-top: 0.5rem;
    font-size: var(--fontMedium);
    font-weight: bold;
    cursor: pointer;
}

#main-underbar {
    background: linear-gradient(to right, rgb(255, 20, 147), rgb(75, 0, 130));
}

.news-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

#secondary-underbar {
    background: linear-gradient(to right, rgb(117, 197, 207), rgb(102, 93, 165));
}

#tertiary-underbar {
    background: linear-gradient(to right, rgb(117, 197, 207), rgb(56, 179, 137));
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding-bottom: 1rem;

    background-color: var(--orange);
    color: #FFF;
}

.footer p {
    font-size: var(--fontSmall);
    font-weight: lighter;
}

.footer p a {
    color: #FFF;
    text-decoration: underline;
    text-underline-position: under;
}

@media only screen and (min-width: 500px) {
    .main-container {
        padding: 0.5rem 10%;
    }

    .news-container {
        flex-direction: row;
        align-items: self-end;
        padding: 5% 10%;
    }

    .news-img {
        width: 40vw;
        height: 30vw;
    }

    .footer {
        background-color: #FFF;
        color: var(--darkGray);
    }

    .footer p a {
        color: var(--darkGray);
    }
}